.page-header {
  background-color: black;
  margin-bottom:0;
}
h1 {
  text-align: center;
  color: white;
}
.container-fluid {
  background-color: black;
}
.panel-footer {
  background-color: black;
  text-align:center;
  color:white
}

img {
  margin:1em;
  width:100%;
}
img:hover {
  transition: transform .2s;
  width: 150%;
  border-radius:75%;
}
#slogen{
  text-align:center;
  font-size: 1.5em;
  color: white;
}
a {
  color:white;
}
a:hover {
  color:gold;
}